<header class="top">
  <nav class="wrap nav" aria-label="Main menu">
    <a class="logo-wrap" href="/"><span class="logo"><img src="/images/logo.png" width="188" height="70" alt="De Finance Fabriek"></span><span class="intl-tag">{{nav.tag}}</span></a>
    <ul>
      <li><a href="/#how">{{nav.how}}</a></li>
      <li><a href="/#services">{{nav.services}}</a></li>
      <li><a href="/#bv">{{nav.bv}}</a></li>
      <li><a href="/#pricing">{{nav.pricing}}</a></li>
      <li><a href="/#guides">{{nav.guides}}</a></li>
      <li><a href="/#faq">{{nav.faq}}</a></li>
    </ul>
    <div class="nav-right">
      <a class="lang-switch" href="https://financefabriek.nl/" hreflang="nl" title="{{nav.dutch_site_title}}">{{nav.dutch_site_label}}</a>
      <a class="btn btn-primary" href="#contact">{{nav.cta}}</a>
    </div>
  </nav>
</header>
